@media screen and (max-width:576px) {
    .nav-title{
    
    }
    .nav-content ul, .header-container, .img-1, .img-2, .img-3, .why-choose-container{
        flex-direction: column;
        object-fit: fill;
    }

    .popular-section{
        flex-direction: column;
        gap: 25px;
        padding: 5px;
        width: 100%;
        object-fit: fill;
    }
    .container-img{
       object-fit: fill;
}
 .why-choose-container div{
    gap: 0px;
    flex-basis:0px;
    width: 450px;
    object-fit: fill;
}
 .img{
    flex-direction: column;
    object-fit: fill;
}
.why-choose p, .why-choose h1{
 max-width: 400px;
}
.footer-title{
    gap: 0px;
}
.footer{
    width: 500px;
    margin: 10px;
    object-fit: fill;
}
.place{
    flex-direction: column;
    gap: 0px;
    margin-bottom: 20px;
}
.vedio{
    height: 400px;
}
.news-letter{
    gap:70px;
    flex-direction: column;
    max-width: 450px;
    
   
}
.news-letter-img{
 width: 450px;
}
.main-content{
    padding-left:30px ;
    width: 500px;
    flex-direction: column;
}
.content{
    width: 450px;
}
.discount-middle .content{
    margin-left: 0px;
}
.extra-point{
    flex-direction: column;
    width: 480px;
    margin: 10px;
}
.save-money{
    right: 72px;
    margin-top: 456px;
}
.cat{
    margin-bottom: -417px;
}
.bangladesh{
    margin: -385px 272px 11px -66px
}
.india{
    margin: -147px 272px 11px -26px;
}
.Srilanka{
    margin: -1021px 6px 9px -35px;
}
.Japan{
    margin: -689px 3px 5px -32px;
}
.Argentina{
    margin: -174px 3px 5px -55px;
} 
.Brazil{
    margin: -373px 3px 5px -45px;
} 
.Canada{
    margin: -267px 3px 5px -55px;
}
.search{
    margin: -46px 4px 4px 37px;
}  
.discount-img{
    width: 499px;
}
.discount-middle{
    width: 499px;
}
.discount-middle .content {
    margin-left: -55;
}
.grid-container .img-3{
    width: 450px;
}
.img-1{
    width: 450px;
}
.footer{
    width: 480px;
    padding-left: 20px;
}
}