@media screen and (max-width:576px) {
    .nav-title{
    
    }
    .nav-content ul, .header-container{
        flex-direction: column;
    }
    
    .popular-section{
        flex-direction: column;
        gap: 25px;
        padding: 5px;
        width: 100%;
    }
    .container-img{
       object-fit: fill;
}
}