* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
}
/* navbar */
.navbar {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  display: flex;
  align-items: center;
}
.nav-title img {
}
.Trail {
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}
.nav-title h2 {
  padding-left: 0.5rem;
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}
.nav-content ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}
.nav-content ul li a:hover{
  color: #FF5400;
  
}
.nav-content div {
  display: flex;
  align-items: center;
}
.nav-content ul li a {
  text-decoration: none;
  margin-right: 30px;
  /* color:#424247; */
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}

/* header */
.header-section {
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1250px;
    margin: 0 auto;
    min-height: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 33, 57, 0.406);
    background-blend-mode: multiply;
    color: #fff;
    margin-bottom: 50px;
  }

.header-description h1 {
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}
.header-description p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}

.header-container{
  display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
}
.header-container input {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 174px;
  height: 42px;
  border-radius: 8px;
  background: #FFF;
}
.header-container select {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 174px;
  height: 42px;
  border-radius: 8px;
  background: #FFF;
  text-align: center;
 
}
.btn {
  width: 174px;
  height: 42px;
  border-radius: 8px;
  background: #ff5400;
}
.btn:hover{
  background-color: aqua;
}

/* popular section */
.popular-section{
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 100px;
}
.container-img{
  max-width: 540px;
  max-height: 560px;
}
.container{
  max-width: 50%;
  margin-top: 20px;
}
.container h1{
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.container p{
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
.container ul li{
color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 10px;
}
#button{
 margin-top:1rem;
}

/* grid des */
.grid-description{
  max-width: 1250px;
  text-align: center;
  margin-top: 70px;
}
.grid-description h1{
margin-bottom: 20px;
color: #131318;
font-size: 40px;
font-weight: 800;
}
.grid-description p{
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  gap: 5px;
  margin-bottom: 30px;
}


.grid-container{
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.grid-container .img-1{
  display: flex;
  gap: 10px;
}
.grid-container .img-2{
  display: flex;
  gap: 13px;
}
.grid-container .img-3{
  display: flex;
  gap: 10px;
}


/* why choose us */
.why-choose{
  width: 1250px;
  margin: 0 auto;
  margin-top: 60px;
}
.why-choose h1{
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.why-choose p{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
/* why choose container */
.why-choose-container{
  display: flex;
  flex-wrap: wrap;
  /* display:grid;
  grid-template-columns: repeat(2, 1fr); */
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
}
.why-choose-container div{
  flex-basis: 500px
}
.why-choose-container img{
  text-align: center;
  margin-bottom: 20px;
}

.hotel{
 border: 2px solid yellow;
 padding:20px;
 border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.price{
  border: 2px solid red;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}
.map{
  border: 2px solid skyblue;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}

/* simple perfect section */
.place{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto; 
  gap: 50px;
  
}
.place h1{
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px; 
  margin-bottom: 30px;
}
.place p{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.place ul{
  color: #131318;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 20px;
}
.vedio{
 padding-top: 0px;
  padding-bottom: 100px;
  margin-top: 0px;
  
}


/* newsletter */
.news-letter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1250px;
  margin-bottom: 50px;
  gap: 230px;
  border-radius: 35px;
}
.news-letter-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  border: 1px solid salmon;
  background: #FFF;
  border-radius: 15px;

}
.news-letter-description h2{
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 10px;
}
.news-letter-description p{
  color: #5A5A5D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
}
.news-letter-description input{
  margin: 20px 20px;
  width: 370px;
  height: 45px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
#bttn{
  width: 370px;
  height: 45px;
  margin-bottom: 10px;
}

/* dial and discounts */
.discount-img{
  background-image: url(Images/Group\ 39.png);
  background-size: cover;
  width: 1170px;
  height: 500px;
  margin: 0 auto;


}
.content{
 align-items: center;
 display: flex;
 flex-direction:column;
 border: 2px solid salmon;
 width: 580px;
 height: 390px;
 border-radius: 16px;
 border: 2px solid #FFF;
 background: rgba(255, 255, 255, 0.80);
 backdrop-filter: blur(2.5px);
 justify-content: center;
 margin: 55px 30px 0px 0px;


}
.main-content{
  display: flex;
  justify-content:end;
  align-items:e;
}
.content h1{
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.content p{
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 10px;
}
.content h3{
  color: #FF5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 10px;
}

.location{
  display: flex;
  align-items: center;
  justify-content: center;
}
.location div{
  display: flex;
}
.discount-middle{
  background-image: url(Images/Group\ 40.png);
  background-size: cover;
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.discount-middle .content{
  margin-left: 30px;
}
.discount-description{
  margin-top: 60px;
  margin-bottom: 30px;
}
.discount-description h1{
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.discount-description p{
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;/
}

/* extra */
.extra-section{

  max-width: 1250px;
  margin: 0 auto;
}
.extra-description{

}

.extra-description h1{
  color: #131318;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}

.extra-description p{
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
} 

.extra-point{
  margin-top: 50px;
  display: flex;
  gap: 30px;
  line-height: 30px;
}
.extra-point p{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.extra-point p::first-letter{
  font-size:x-large;
  color: #FF5400;
}







/* footer */
.footer{
  background: rgba(19, 19, 24, 0.05);
  max-width: 1360px;
  height: 500px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title{
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.icon{
  margin-top: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.footer p{
  margin-bottom: 40px;
}

